<h1> Cars / New </h1>

<%= form_for ([@mid, @car]) do |f| %>
	
	<%= f.hidden_field :mid, value: @mid %>
	
	<div>
		<%= f.label :mname, 'Model' %>
		<%= f.text_field :mname %>
	</div>
	
	<div>
		<%= f.label :color %>
		<%= f.text_field :color %>
	</div>

	<div>
		<%= f.label :year %>
		<%= f.text_field :year %>
	</div>

	<div>
		<%= f.label :mileage %>
		<%= f.text_field :mileage %>
	</div>
	
	<div>
		<%= f.label :description %>
		<%= f.text_area :description %>
	</div>

	<div>
	<%= f.submit "submit" %>
	
	</div>


	<% if @car.errors.any? %>
  	<div id="error_explanation">
    <h2><%= pluralize(@car.errors.count, "error") %> SO SRY:</h2> 	
  	
  	<ul>
  	<% @car.errors.full_messages.each do |msg| %>
  		<li><%= msg %></li>
  	<% end %>
  	</ul>
  	</div>
  <% end %>

<% end %>